{% extends 'base.html' %}

{% block title %}Crear Junta{% endblock title %}
{% block css %}{% endblock css %}
{% block style %}{% endblock style %}


{% block content %}
    <div class="col-xl-6">
        <div class="card-box">
            <div class="container-fluid">
                <h2>Crear Junta</h2>
                <form action="" method="post">{% csrf_token %}

                    <div class="form-group mb-3">
                        <label for="frecuencia">Frecuencia</label>
                        {{ forms.frecuencia }}
                        <div class="errores">
                            {% if forms.frecuencia.errors %}
                                {% for error in forms.frecuencia.errors %}
                                    <label class="text-danger control-label" for="inputError">
                                        <i class="fa fa-times-circle-o"></i>
                                        {{error}}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="nombre">Motivo</label>
                        {{ forms.nombre }}
                        <div class="errores">
                            {% if forms.nombre.errors %}
                                {% for error in forms.nombre.errors %}
                                    <label class="text-danger control-label" for="inputError">
                                        <i class="fa fa-times-circle-o"></i>
                                        {{error}}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="monto">Monto</label>
                        {{ forms.monto }}
                        <div class="errores">
                            {% if forms.monto.errors %}
                                {% for error in forms.monto.errors %}
                                    <label class="text-danger control-label" for="inputError">
                                        <i class="fa fa-times-circle-o"></i>
                                        {{error}}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="nro_cuotas">Nro de cuotas</label>
                        {{ forms.nro_cuotas }}
                        <div class="errores">
                            {% if forms.nro_cuotas.errors %}
                                {% for error in forms.nro_cuotas.errors %}
                                    <label class="text-danger control-label" for="inputError">
                                        <i class="fa fa-times-circle-o"></i>
                                        {{error}}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="abierto">Acceso a todos</label>
                        {{ forms.abierto }}
                        <div class="errores">
                            {% if forms.abierto.errors %}
                                {% for error in forms.abierto.errors %}
                                    <label class="text-danger control-label" for="inputError">
                                        <i class="fa fa-times-circle-o"></i>
                                        {{error}}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div id="mi_clave" class="form-group mb-3">
                        <label for="clave">Contraseña</label>
                        {{ forms.clave }}
                        <div class="errores">
                            {% if forms.clave.errors %}
                                {% for error in forms.clave.errors %}
                                    <label class="text-danger control-label" for="inputError">
                                        <i class="fa fa-times-circle-o"></i>
                                        {{error}}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary btn-block" type="submit"> Guardar </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}{% endblock js %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_abierto").change(function () {
            if ($("#id_abierto").prop('checked')){
                $("#mi_clave").attr('hidden','hidden');
            }else{
                $("#mi_clave").removeAttr('hidden','hidden');
            }
        })
    });
</script>
{% endblock script %}