{% extends 'base.html' %}
{% load static %}


{% block title %}{% endblock title %}
{% block css %}{% endblock css %}
{% block style %}{% endblock style %}
{% block js %}
<script src="{% static 'plataforma/libs/morris-js/morris.min.js' %}"></script>
<script src="{% static 'plataforma/js/pages/dashboard.init.js' %}"></script>

        <!-- third party js -->
        <script src="{% static 'plataforma/libs/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/dataTables.bootstrap4.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/buttons.html5.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/buttons.flash.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/buttons.print.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/datatables/dataTables.select.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/pdfmake/pdfmake.min.js' %}"></script>
        <script src="{% static 'plataforma/libs/pdfmake/vfs_fonts.js' %}"></script>
        <!-- third party js ends -->

        <!-- Datatables init -->
        <script src="{% static 'plataforma/js/pages/datatables.init.js' %}"></script>

{% endblock js %}
{% block script %}{% endblock script %}

{% block content %}
    <div class="container-fluid">

        <div class="row">

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    </div>
                    <h4 class="header-title mt-0 mb-4">Total Revenue</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-left" dir="ltr">
                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                   data-bgColor="#F9B9B9" value="58"
                                   data-skin="tron" data-angleOffset="180" data-readOnly=true
                                   data-thickness=".15"/>
                        </div>

                        <div class="widget-detail-1 text-right">
                            <h2 class="font-weight-normal pt-2 mb-1"> 256 </h2>
                            <p class="text-muted mb-1">Revenue today</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    </div>
                    <h4 class="header-title mt-0 mb-3">Sales Analytics</h4>
                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-success badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> 8451 </h2>
                            <p class="text-muted mb-3">Revenue today</p>
                        </div>
                        <div class="progress progress-bar-alt-success progress-sm">
                            <div class="progress-bar bg-success" role="progressbar"
                                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    </div>
                    <h4 class="header-title mt-0 mb-4">Statistics</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1 float-left" dir="ltr">
                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                    data-bgColor="#FFE6BA" value="80"
                                    data-skin="tron" data-angleOffset="180" data-readOnly=true
                                    data-thickness=".15"/>
                        </div>
                        <div class="widget-detail-1 text-right">
                            <h2 class="font-weight-normal pt-2 mb-1"> 4569 </h2>
                            <p class="text-muted mb-1">Revenue today</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card-box">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                    </div>
                    <h4 class="header-title mt-0 mb-3">Daily Sales</h4>
                    <div class="widget-box-2">
                        <div class="widget-detail-2 text-right">
                            <span class="badge badge-pink badge-pill float-left mt-3">32% <i class="mdi mdi-trending-up"></i> </span>
                            <h2 class="font-weight-normal mb-1"> 158 </h2>
                            <p class="text-muted mb-3">Revenue today</p>
                        </div>
                        <div class="progress progress-bar-alt-pink progress-sm">
                            <div class="progress-bar bg-pink" role="progressbar"
                                    aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                    style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="mt-0 header-title">Todas las juntas activas</h4><br/><br/>
            <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Motivo</th>
                        <th>Monto</th>
                        <th>Nro cuotas</th>
                        <th>Frecuencia</th>
                        <th>Nro participantes</th>
                        <th>Creado por</th>
                        <th>Fechas de creación</th>
                        <th>Publico</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for junta in juntas %}
                    <tr>
                        <td>{{junta.id}}</td>
                        <td>{{junta.nombre}}</td>
                        <td>S/. {{junta.monto|force_escape}}</td>
                        <td>{{junta.nro_cuotas}}</td>
                        <td>{{junta.frecuencia}}</td>
                        <td>{{junta.nro_participantes}}</td>
                        <td>{{junta.creador.username}}</td>
                        <td>{{junta.fecha_creacion}}</td>
                        <td>{{junta.abierto}}</td>
                        <td>
                            <a href="{% url 'yunta:junta' junta.id %}" style="color:#FFF;" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-rocket mr-1"></i> <span>Afiliarte</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
