{% extends 'base.html' %}

{% block title %}Crear Junta{% endblock title %}
{% block css %}{% endblock css %}
{% block style %}{% endblock style %}


{% block content %}
    <div class="col-xl-6">
        <div class="card-box">
            <div class="container-fluid">
                <h2>Mis Juntas creadas</h2>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Motivo</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for junta in juntas %}
                                <tr>
                                    <th scope="row">{{junta.id}}</th>
                                    <td>{{junta.nombre}}</td>
                                    <td>{{junta.monto}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}{% endblock js %}
{% block script %}

{% endblock script %}